footer.footer  
    .footer__logo-box 
        img.footer__logo(src='/img/logo-green.png', alt='Natour logo')  
    ul.footer__nav 
        li: a(href='#') About Us    
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact Us
    p.footer__copy 
        | &copy; by Jonas Schmedtmann. All rights reserved. Allowed by the instructor as a part of the course and not for commercial use. Can be shown in portfolio. 
